            body a {
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                -ms-transition: 0.5s all;
                font-weight: 400;
            }
            
            input[type="button"],
            input[type="submit"] {
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                -ms-transition: 0.5s all;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
                font-weight: 400;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                -ms-transition: 0.5s all;
            }
            
            .clear {
                clear: both;
            }
            
            p {
                margin: 0;
            }
            
            ul {
                margin: 0;
                padding: 0;
            }
            
            label {
                margin: 0;
            }
            
            img {
                width: 100%;
            }
            
            body {
                text-align: center;
                margin: 0;
            }
            /*--end reset--*/
            /*--header--*/
            
            .main-container {
                padding: 0;
                background: rgb(201, 201, 245);
            }
            /*--header--*/
            
            .header-w3l {
                padding: 2em 0 2em;
            }
            
            .header-w3l h1 {
                font-size: 3em;
                color: black;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-family: 'Snippet', sans-serif;
            }
            /*--//header--*/
            /*--main--*/
            
            .main-content-agile {
                margin: 0 auto;
                background: rgba(12, 12, 12, 0.81);
                width: 34%;
            }
            
            .w3ls-pro h2 {
                font-size: 1.7em;
                color: #fcb50e;
                letter-spacing: 3px;
                padding: 1em 0;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'Snippet', sans-serif;
            }
            
            .sub-main-w3ls {
                position: relative;
                padding: 2.5em;
            }
            
            .sub-main-w3ls input[type="email"],
            .sub-main-w3ls input[type="password"] {
                outline: none;
                font-size: 1em;
                border: none;
                background: #eeeeee;
                width: 82.5%;
                color: #000;
                padding: 1em 3em 1em 1em;
                letter-spacing: 1px;
                font-family: 'Snippet', sans-serif;
            }
            
            .sub-main-w3ls input[type="password"] {
                margin-top: 1.5em;
            }
            
            .sub-main-w3ls input[type="submit"] {
                background: url(../images/arrow.png) no-repeat 40% 50%;
                border: 2px solid #fff;
                outline: none;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 1.5em;
                cursor: pointer;
                margin-top: 2.5em;
            }
            
            span.icon1,
            span.icon2 {
                color: #f1a008;
                font-size: 1em;
                position: absolute;
                display: block;
                text-align: center;
            }
            
            span.icon1 {
                top: 12%;
            }
            
            span.icon2 {
                top: 28%;
            }
            
            span.icon1,
            span.icon2 {
                right: 4.2em;
            }
            
            .checkbox-w3 {
                margin: 2em 0 2.5em;
            }
            
            span.check-w3 {
                float: left;
                color: #fff;
                font-size: 1em;
                letter-spacing: 1px;
                font-family: 'Snippet', sans-serif;
            }
            
            .checkbox-w3 a {
                color: #fff;
                float: right;
                font-size: 1em;
                text-decoration: none;
                font-family: 'Snippet', sans-serif;
            }