.col {
    float: left;
    width: 33.3333%;
    margin-top: 10px;
    padding: 20px;
}

.logo a {
    color: rgb(201, 201, 245);
}

.logo h1 {
    text-align: center;
    font-family: time newroman;
    font-size: 60px;
}

.shopping-item {
    float: right;
}

.active {
    background: rgb(201, 201, 245);
}

.saleoff {
    padding-top: 5px;
    display: block;
    background-color: rgb(201, 201, 245);
    color: red;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product-bit-title h2 {
    font-family: raleway;
    font-size: 80px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;
    color: rgb(201, 201, 245);
}

.kt {
    font-size: 15px;
}


/* */

.maincontent {
    padding: 0 35px;
    margin-top: 20px;
}

.ctus h4 {
    font-weight: bold;
}

.column2 input[type=text],
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.column2 input[type=submit] {
    background-color: rgb(201, 201, 245);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.column2 input[type=submit]:hover {
    background-color: black;
}

.column1 {
    float: right;
    width: 30%;
    margin-top: 6px;
    padding: 20px;
}

.column2 {
    float: right;
    width: 70%;
    margin-top: 6px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.number {
    display: inline-block;
    margin-bottom: 5px;
}

.tollfree {
    padding-left: 5px;
    font-size: 0.6em;
}

h4 {
    margin-top: 1.5em;
}

.sysbom {
    font-size: 30px;
    color: red;
}


/* */

.wrapperr {
    margin-top: 20px;
    padding: 0 45px;
    background-color: rgb(201, 201, 245);
}

.roww:after {
    content: "";
    display: table;
    clear: both;
}

.columnn {
    float: left;
    width: 20%;
    margin-top: 10px;
    padding: 20px;
}

.columnm {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
}

.columnn h4 {
    text-align: center;
}

.ftbox {
    padding-top: 30px;
}

.ftbox h4 {
    font-size: 15px;
    font-weight: lighter;
}

.social a {
    margin-right: 20px;
    font-size: 30px;
}

.social {
    padding-top: 20px;
}

.roww a {
    color: black;
}

.ftsearch input[type=submit] {
    background-color: red;
    color: white;
    border: none;
}

.ftsearch input[type=submit]:hover {
    background-color: black;
}

.mainmenu-area ul.navbar-nav li a {
    font-size: 20px;

}

.mainmenu-area {
    background: none repeat scroll 0 0 #fbfbfb;
    font-family: "Roboto Condensed", sans-serif;
  
}

.container {
    width: 100%;
   
}

.containerr {
    border-radius: 5px;
    background-color: white;
  
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    padding: 0;
    margin: 0;
}

.nav a {
    color: black;
   
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul.menu_item {
    width: 150px;
    background: whitesmoke;
    min-height: 50px;
    line-height: 20px;
    display: none;
    position: absolute;
}

ul.menu_item li {
    list-style: none;
}

ul.menu_item li a {
    color: black;
    text-decoration: none;
    display: block;
}

ul.navbar-nav>li:hover ul.menu_item {
    display: block;
}

.row a:hover {
    background-color: rgb(201, 201, 245);
    text-decoration: none;
}

.home1 {
    padding-top: 10px;
}

.home2 {
    padding-top: 10px;
}



.home3 {
    padding-top: 10px;
}
/*jascript*/
#jv-1{
    width: 70%;
    height: 100%;
    margin: 0px auto;
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 310px;
    display: none;
}
#jv-1 img{
    width: 100%;
    height: 100%;
    z-index: 3000;
    float: left;
    
    
}
#close{
     position: absolute;
    height: 30px;
    width: 60px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    top: 3px;
    background-color: #11BCE7;
    right: 3px;
}

#prev{
	text-transform: uppercase;
	top: 270px;
	left: 20px;
	position: absolute;

}
#next{
	text-transform: uppercase;
	top: 270px;
	right: 230px;
	position: absolute;

}
#banner{
	width: 70%;
    margin: 80px auto;
    height: 608px;
    padding-top: 0px;
    background: white;
    border: 1px solid  white;
    position: relative;
    
}